@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: lightblue;">
    <h1 style="font-size: 30px; text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Reginald's Ancient Antiquities Auction House</h1>
</div>



<div class="row">

</div>