@{
    ViewBag.Title = "Convert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Message</h2>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Converter</title>
</head>
<!-- Doing the rows to correctly format Miles and Units section-->
<div class="row">
    <h2>Convert Miles to Metric</h2>
    <form method="get" form action="/Home/Converter">
        <!-- This 'column' has the Miles section and the box for user input-->
        <div class="col-md-6">
            Miles <br> <input type="number" name="miles" />
        </div>
        <!-- This 'column' holds the radio buttons-->
        <div class="col-md-6">
            <h4>Select a unit</h4>
            <!-- Line-->
            <hr>
            <!-- Radio buttons-->
            <input type="radio" name="units" value="millimeters" checked />millimeters
            <br>
            <input type="radio" name="units" value="centimeters" />centimeters
            <br>
            <input type="radio" name="units" value="meters" />meters
            <br>
            <input type="radio" name="units" value="kilometers" />kilometers
        </div>
        <!--This will hold the Button and the statement-->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary" type="submit" name="submitInfo">Convert </button>
            </div>
            <div class="row">
            <div class="col-md-6" style="color: darkred;">
                @if (ViewBag.statement != null)
                {
                    <h2>@ViewBag.statement</h2>
                }
            </div>
            </div>
        </div>
    </form>
 </div>
