@{
    ViewBag.Title = "Index";
}

<script>

</script>

<div style="text-align: center;">
    <h2>Internet Language Translator</h2>
    <br />
    <input style="width: 100%" type="text" id="textString" name="textString" placeholder="Start typing your message here..."><br>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/giphyScript.js"></script>
}