@{
    ViewBag.Title = "Index";
}
<header></header>
<script>

</script>
<!-- Center everything-->
<div style="text-align: center;">
    <h2>Internet Language Translator</h2>
    <br />
    <!-- Input text box-->
    <input style="width: 100%" type="text" id="textString" name="textString" placeholder="Start typing your message here..." /><br /><br />
    <!-- Where the phrases will be inputedd-->
    <div id="phrase"></div>
    <br />
</div>

@section PageScripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/giphyScript.js"></script>
}