@{
    ViewBag.Title = "Index";
}
<header>

</header>
<script>

</script>

<div style="text-align: center;">
    <h2>Internet Language Translator</h2>
    <img src="https://giphy.com/embed/7hqG8IJQRU1Qk" />
    <br />
    <input style="width: 100%" type="text" id="textString" name="textString" placeholder="Start typing your message here..." /><br /><br />
    <div id="phrase"></div>
    <br />
    <div id="message"></div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/giphyScript.js"></script>
}