@model IEnumerable<worldWideImport.Models.ViewModels.PersonVM>
<style>
    .text-area {
        font-size: 45px;
        text-align: center;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .textboxFor {
        text-align: center;
    }

        .textboxFor > input {
            text-align: left;
        }

    form {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .textBoxFor2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .button {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
   <!--using razor form for html-->
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-area">Client Search</div>
                <!--This will be the text box for input-->
                <label for="searchString"></label>
                @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", required = "required" })
                <button class="button">Search</button>

            </div>
            <div class="col-md-4"></div>
        </div>
        <!--This will display a message if no results show up-->
        @ViewBag.result
        <div class="row">
            <!--This will show up if there are results-->
            @if (ViewBag.toggle == 1)
            {
                <div class="col-md-4">

                    @foreach (var row in Model)
                    {
                        <div class="container" style="border: ridge; border-color: grey;">
                            <!--Displays the names along with a link to a details page-->
                            <div class="row" style="padding: 10px;">@Html.ActionLink(linkText: row.FullName + "\t" + "(" + row.PreferredName + ")", actionName: "Details", controllerName: "Home", routeValues: new { fName = row.FullName }, htmlAttributes: null)</div>
                        </div>
                        <br />
                    }

                </div>
            }
        </div>
    }
<!--Use GET for this page-->