
@{
    ViewBag.Title = "results";
}

<style>
    .text-area {
        font-size: 45px;
        text-align: center;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .textboxFor {
        text-align: center;
    }

        .textboxFor > input {
            text-align: left;
        }

    form {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .textBoxFor2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .button {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<div class="container-fluid center-block">
    <div class="jumbotron" style="background-color: red">
        <h1>World Wide Import</h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-area">Client Search</div>
            <form>
                <label for="searchString"></label>
                <input class="textboxFor" type="text" id="searchString" name="searchPhrase" placeholder="Search by client name">
                <button class="button">Search</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!--Use GET for this page-->
